* {
  /* font-size: 4rem; */

  font-family: Apercu, helvetica, sans-serif;
}
html {
  /* font-size: 62.5%; thì ==> 1 rem = 10px */
  font-size: 62.5%;
  /*  */
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  /* z-index: 100; */
}

section {
  min-height: 50vh;
  padding: 10rem 9% 2rem;
}
/* phần này chung của Duy với Danh */
.Duy-Danh {
  display: flex;
  min-height: 90rem;
  gap: 4rem;
}
/* phần này chung của Duy với Danh */
/* Phần này Danh Làm */
.Duy-Danh .Danh {
  flex-basis: 30%;
}
.Duy-Danh .Danh h3 {
  text-align: center;
  align-items: center;
  color: white;
  background-color: black;
}
img {
  height: 15rem;
  width: 15rem;
  align-items: center;
  border-radius: 1rem;
  margin: 5rem;
}

.Danhdiv-1 {
  display: flex;
  border: black;
  border-style: solid none none none;
  min-height: 20vh;
}
.DanhAuthor p {
  display: block;
  font-family: Apercu, helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}
.Danhdiv {
  flex-basis: 90%;
}
.DanhImg {
  flex-basis: 10%;
}
.Danh-img1 {
  width: 75px;
  height: 75px;
  margin-bottom: 20px;
}
.Danhdiv a {
  color: black;
}
.Danhdiv a:hover {
  color: red;
}
.Danhdiv a:active {
  color: yellow;
}

.DanhTitle {
  background-color: white;
  display: flex;
  color: white;
}
.DanhTitle-1 {
  background-color: black;

  border-radius: 1rem;
}
/* kết thúc phần Danh làm*/

.Duy-Danh .Duy {
  flex-basis: 70%;
}
.img_1 {
  width: 180px;
  height: 100px;
  position: relative;
  left: -40px;
  top: -35px;
}
.img_2 {
  width: 180px;
  height: 100px;
  position: relative;
  left: -40px;
  top: -45px;
}
.img_3 {
  width: 325px;
  height: 220px;
  position: relative;
  top: -37px;
  left: -30px;
}
.container_center {
  display: flex;
}
.header_container {
  width: 100%;
  height: 50px;
}
.con_label {
  width: 120px;
  height: 30px;
  background-color: black;
}
.header_container::before {
  content: "";
  display: block;
  border: 1.5px solid #000000;
  width: 98%;
}
.label {
  color: white;
  position: relative;
  top: 10px;
  left: 20px;
}
.container_left {
  width: 40%;
  height: 100%;
}
.label_infor {
  display: block;
  position: relative;
  top: -70px;
  left: 15px;
}
.container_left-top {
}
.container_left-top::after {
  content: "";
  display: block;
  border: 1px solid #999;
  width: 95%;
  position: relative;
  top: -20px;
}
.name {
  display: block;
  position: relative;
  top: -40px;
  left: 15px;
}
.link_img1 {
  font-size: 15px;
  position: relative;
  top: -55px;
  left: 15px;
  color: #000000;
  text-decoration: none;
}
.container_left-bot {
}
.container_right {
  width: 60%;
  height: 100%;
}
.title_img3 {
  font-size: 23px;
  position: relative;
  top: -53px;
  left: 15px;
  color: black;
  text-decoration: none;
}
.paragraph {
  font-size: 11px;
  position: relative;
  top: -50px;
  left: 15px;
}
.link_img1:hover {
  text-decoration: underline;
}
.title_img3:hover {
  text-decoration: underline;
}
/* phần này của Bảo */
.container_bao {
  display: grid;
  grid-template-columns: 550px 474px;
  justify-content: center;
  overflow: hidden;

  margin-top: 40px;
}
div.item-bao {
  border: 5px solid white;
  height: 360px;
}
div.item-1 {
  background: url("../assets/img/Open-AI.webp");

  background-size: cover;
  background-position: center;
  position: relative;
}

.headRight-item-bao {
  background: url("../assets/img/Soccer.webp");
  background-size: cover;
  background-position-y: -20px;
  position: relative;
}
.bottomRight-item-bao-left {
  background: url("../assets/img/Russia.webp");
  background-size: cover;
  position: relative;

  /* background-position-y: -20px; */
}
.bottomRight-item-bao-rigth {
  background: url("../assets/img/Shark-Hung-Anh.webp");
  background-size: cover;
  margin-top: 3px;
  position: relative;

  /* background-position-y: -20px;     */
}
.style-bao {
  background-color: rgba(250, 250, 250, 0.7);
  padding: 0 10;
  width: 100%;
  color: black;
  font-weight: 700;
  text-align: left;
  position: absolute;
  bottom: -78px;
  transition: all 0.45s ease-in-out;
  opacity: 0;
  font-size: 15px;
  list-style: none;
}
.container_bao:hover .style-bao {
  bottom: 0;
  opacity: 1;
}
.style-bao a {
  text-decoration: none;
  color: black;
}
.style-bao a:hover {
  box-shadow: 0 2px red;
}

/* kết thúc phần của Bảo */

/*Phần của Hải*/
footer {
  background-color: rgb(65, 65, 65);
}
.footer-contain {
  display: flex;
}
.footer-contain ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-contain ul li {
  display: inline-block;
}
.contain-1 {
  flex: 1;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}
.contain-1 h1 {
  font-size: 60px;
  font-weight: bold;
}
.social-network {
  margin-top: 50px;
}
.social-network ul li {
  margin: 0 3px;
}
.social-network ul li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 20px;
  transition: all 0.5s;
}
.social-network ul li a:hover {
  background-color: #fff;
  color: #4e4e4e;
}
.contain-2 {
  flex: 1;
  padding-left: 80px;
  padding-top: 25px;
  color: white;
}

.list li {
  margin-top: 10px;
  font-size: 20px;
  padding-bottom: 13px;
  list-style-type: none;
}
.list li a {
  text-decoration: none;
}
.white-link-color {
  color: white;
  transition: all 0.5s;
}
.white-link-color:hover {
  color: rgb(112, 211, 241);
}

.copytext {
  text-align: center;
  position: relative;
  margin-top: 20px;
  color: #fff;
}
.copytext p {
  border-top: 3px solid rgba(250, 250, 250, 0.1);
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 25px;
}

/* style header */
header {
  width: 100%;
  height: auto;
  border-bottom: #b8b7b7 solid 0.2rem;
  background-color: #eef5ff;
  position: relative;
}

header .container_phat .menu {
  width: 100%;
  height: 225px;
}

header .container_phat .menu .up {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
.up .ml {
  margin: 40px 0px 0px 100px;
  font-size: 30px;
}
.up .up-left {
  display: flex;
}
.up .up-left img {
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
}
.up .up-left h1 {
  margin: 20px 15px 0 10px;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 40px;
}
.up .up-left p {
  margin: 0px 15px 80px 15px;
  font-size: 15px;
}
.up .up-right img {
  margin-top: 20px;
  margin-right: 200px;
  border: none;
}
.mid {
  margin-top: 20px;
  /* border: rgba(255, 255, 255, 0.329) solid 0.2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.mid .mid-left #search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  width: 300px;
  height: 25px;
}
#search {
  /* border-radius: 30px; */
  background-color: #eef5ff;
}
#search #search-text {
  outline: none;
  border: none;
  background-color: none;
  font-size: 18px;
  width: 0;
  padding: 0;
  transition: all 0.25s ease-in-out;
}
#search:hover #search-text {
  width: 300px;
  padding: 10px 0 10px 15px;
  border: rgb(129, 129, 129) solid 0.2rem;
  border-radius: 30px;
}
#search-btn {
  background-color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
}
.mid .mid-right {
  /* margin-right: 20px; */
  margin-left: 300px;
}
.mid .mid-right .item-button button {
  width: 80px;
  height: 30px;
  background-color: #eef5ff;
  border: rgba(255, 255, 255, 0.007) solid 0.2rem;
  outline: none;
  font-weight: 300;
  border-radius: 10px;
  transition: 0.4s;
  font-family: "Times New Roman", Times, serif;
  margin: 15px;
  border: #b8b7b7 solid 0.1rem;
}
.mid .mid-right .item-button button:hover {
  background-color: orange;
  border-style: outset;
}
.mid .mid-right .item-button button a {
  color: black;
  font-size: 17px;
  text-decoration: none;
}
.mid .Notification {
  font-size: 30px;
  margin-right: 50px;
}

header .container_phat .menu .down ul {
  list-style: none;
  justify-content: center;
  align-content: center;
  margin: 10px;
  margin-top: 20px;
  margin-left: 50px;
}
.down ul li {
  display: inline-block;
  margin: 5px;
}
.down ul li button {
  border: none;
  outline: none;
  /* border-radius: 10px; */
  transition: 0.4s;
  background-color: #eef5ff;
  height: 20px;
  border-right: 1px solid black;
  padding-right: 10px;
}
.down ul li button:hover {
  background-color: orange;
  border-radius: 10px;
}
.down ul li button a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}
