html {
  font-size: 62.5%;
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  /* z-index: 100; */
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  color: aqua;
}
.Danh {
  background-color: rgb(240, 242, 255);
}
